@media only screen and (max-width: 767px) {
  header section:nth-child(1) {
    height: 18vh; }
  header section:nth-child(2) {
    height: 8vh; }
  main {
    height: 68vh; }
  #sendMail {
    width: 280px;
    height: 180px;
    margin: auto;
    margin-top: 50px; }
    #sendMail p {
      font-size: 12px; }
  footer {
    height: 6vh; } }

@media only screen and (min-width: 992px) and (max-width: 1600px) {
  body {
    background-image: url(../images/HD-Music-Instrument.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  #container {
    width: 1024px;
    margin: auto; }
    #container header section:nth-child(1) {
      height: 20vh; }
      #container header section:nth-child(1) h1 {
        font-size: 32px;
        padding-right: 10px; }
    #container header section:nth-child(2) {
      height: 6vh; }
    #container main {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      height: 68vh; }
      #container main form {
        width: 320px; }
        #container main form input {
          margin-top: 45px; }
        #container main form p {
          margin-top: 20px; }
    #container #sendMail {
      width: 600px;
      height: 200px; }
    #container footer {
      height: 6vh; } }
