body{
  background-color: #009688;
}
.main input:hover{
  border-color: #1edd8c;
  color: #1edd8c;
}
.butt:hover{
  background-color: #19a093;
}
h1 ,h3, button, p{
  color: white;
  font-style: italic;
}
a{
  text-decoration: underline white;
}
.marge_0{
  cursor: default;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.marge_0 h1{
  text-align: center;
}
.co{
  margin: auto;
  cursor: default;
  max-width: 70%;
  height: 80px;
  box-shadow: 1px 1px 10px 10px rgb(49, 51, 50);
  background-color: $blue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main{
  max-width: 65%;
  height: 200px;
  margin: 20px auto 0 auto;
}
.main input{
  margin: 10px;
  width:65%;
  border-width: 0 0 2px;
  border-color: rgba(51, 51, 51, 0.3);
  border-style: solid;
  padding: 0.625rem;
  border-radius: 0;
  background-color:#009688;
}
.main, .butt p{
  text-align: center;
  cursor: pointer;
}
.butt{
  margin:20px auto;
  max-width: 65%;
  height: 40px;
  border: solid 1px rgb(49, 51, 50);
  text-align: center;
  box-shadow:  0 2px 10px 3px rgb(49, 51, 50);
}
.main p{
  margin-top: 10px;
}

.foot{
  margin: auto;
  width: 70%;
  height: 40px;
  display: flex;
  flex-flow: row;
}
.foot p{
  font-size: 12px;
  text-align: center;
}
.compte{
  height: 30px;
  width: 50%;
}
.oublie{
  width: 50%;
  height: 30px;
}

@media screen and (max-width: 400px) {
  *{
    margin: 0 auto;
  }
  .marge_0{
    max-width: 100%;
  }

  .co{
    max-width: 100%;
    height: 60px;
  }

  .main{
    max-width: 100%;

  }
  .main input{
    margin:   8px 15px 0 0 15px;
    width:85%;
  }
  .butt{
    max-width: 80%;
  }

  .foot{
    height: 40px;
    display: flex;
    justify-content: space-between;
  }
}
@media screen and ( min-width: 400px) and (max-width: 1000px){
  .marge_0{
    max-width: 100%;
  }
  .co{
    max-width: 100%;
    height: 60px;
    margin: 0 20px 0 20px;
  }
  .main{
    max-width: 100%;
    height: 90px;
  }
  .main input{
    margin:   8px 15px 0 0 15px;
    width:85%;
  }
  .butt{
    margin: 20px 40px 0 40px;
    max-width: 100%;
    height: 40px;
  }
  .foot{
    margin: 90px 0 0 90px;
    height: 40px;
  }
