@import url("https://fonts.googleapis.com/css?family=Roboto");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

label {
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all; }

input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  border: none;
  border-bottom: 1px solid #fff;
  width: 100%; }

input:focus {
  outline: none; }

input:focus ~ label, input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #5264AE; }

.bar {
  position: relative;
  display: block;
  width: 100%; }

.bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264AE;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all; }

.bar:before {
  left: 50%; }

.bar:after {
  right: 50%; }

input:focus ~ .bar:before, input:focus ~ .bar:after {
  width: 50%; }

.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5; }

input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease; }

@-webkit-keyframes inputHighlighter {
  from {
    background: #5264AE; }
  to {
    width: 0;
    background: transparent; } }

@-moz-keyframes inputHighlighter {
  from {
    background: #5264AE; }
  to {
    width: 0;
    background: transparent; } }

@keyframes inputHighlighter {
  from {
    background: #5264AE; }
  to {
    width: 0;
    background: transparent; } }

.cb-slideshow li span {
  width: 100%;
  height: 728px;
  position: absolute;
  top: 0px;
  left: 0px;
  background: top center;
  background-repeat: none;
  z-index: -1;
  text-indent: -999px;
  animation: imageAnimation 36s linear infinite 0s; }

.cb-slideshow li:nth-child(0) span {
  background-image: url("bg-0.jpg"); }

.cb-slideshow li:nth-child(1) span {
  background-image: url("bg-1.jpg"); }

.cb-slideshow li:nth-child(2) span {
  background-image: url("bg-2.jpg"); }

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in; }
  33% {
    opacity: 1;
    animation-timing-function: ease-out; }
  66% {
    opacity: 1; }
  100% {
    opacity: 0; } }

a {
  color: #000;
  text-decoration: none; }

.container {
  background: url("bg-1.jpg") no-repeat top center #000;
  height: 720px;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto; }
  .container h1 {
    color: #fff;
    margin: 0 20px;
    font-size: 32px;
    line-height: 150px;
    text-align: center;
    width: 100%;
    z-index: 999; }

.title {
  height: 150px;
  text-align: center; }

.subtitle {
  background: #212121;
  opacity: 0.9;
  color: #fff;
  height: 48px;
  line-height: 48px;
  width: 100%; }
  .subtitle p {
    font-size: 24px;
    margin: 0 20px;
    text-align: center; }

.main form {
  color: #fff;
  padding-top: 100px; }

.main button {
  background: #5264AE;
  border: 0;
  color: #fff;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 80vw; }

.main button:hover {
  cursor: pointer; }

.main input {
  background: none; }

.group {
  margin: 5vh 10vw;
  position: relative; }

.options {
  font-size: 12px;
  margin: 34px 10vw 0 10vw;
  position: relative; }

.forgotten_password {
  position: absolute;
  right: 0; }

@media screen and (min-width: 769px) {
  .main {
    width: 720px;
    margin: 0 auto; }
    .main button {
      width: 100%; } }

@media screen and (min-width: 320px) and (max-width: 768px) {
  .component {
    width: 100%; } }
