/*First page section*/

.main{
background-color: #E5E5E5;
height: 565px;
width: 325px;
}
.top {
  background-color: #376676;
  height: 254px;
  h3 {
    color: black;
  }
}
.fun {
position: absolute;
margin-top: 211px;
margin-left: 117px;
}
.sign {
  background-color: #cccccc;
  height: 36px;
}
#sign{
position: absolute;
margin-top: 7px;
margin-left: 127px;
}

.email {
  margin-top: 41px;
  margin-left: 42px;
}
.pass{
  margin-top: 11px;
  margin-left: 42px;
}
.butt{
background-color: #376676;
margin-top: 24px;
margin-left: 98px;
height: 37px;
width: 119px;
}
.create{
font-size: 11px;
margin-left: 6px;
margin-top: 30px;
position: absolute;
}
.forgot{
  font-size: 11px;
  margin-left: 189px;
  margin-top: 30px;
}
/*First page section finish*/

/*sign up form*/
.container{
background-color: #E5E5E5;
height: 645px;
width: 581px;
}
.sign1{
  margin-left: 223px;
  padding-top: 24px;
}
