
// SMARTPHONE UP TO 767XP

@media only screen and (max-width: 767px){
  header{
    section:nth-child(1){
      height: 18vh;
    }
    section:nth-child(2){
      height: 8vh;
    }
  }
  main{
    height: 68vh;
  }
  #sendMail{
    width: 280px;
    height: 180px;
    margin: auto;
    margin-top: 50px;
    p{
      font-size: 12px;
    }
  }
  footer{
    height: 6vh;
  }
}


// DESKTOP FROM 992PX TO 1600XP

@media only screen and (min-width: 992px)and (max-width: 1600px){
  body{
    background-image: url(../images/HD-Music-Instrument.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  #container{
    width: 1024px;
    margin: auto;
    header{
      section:nth-child(1){
        height: 20vh;
        h1{
          font-size: 32px;
          padding-right: 10px;
        }
      }
      section:nth-child(2){
        height: 6vh;
      }
    }
    main{
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 68vh;
      form{
        width: 320px;
        input{
          margin-top: 45px;
        }
        p{
          margin-top: 20px;
        }
      }
    }
    #sendMail{
      width: 600px;
      height: 200px;
    }
    footer{
      height: 6vh;
    }
  }
}
