@import url('https://fonts.googleapis.com/css?family=Roboto');
@import 'reset';
@import 'material-form';
@import 'bg-animations';


a {
	color: #000;
	text-decoration: none;
}


.container {
	background: #000;
	/*background: url('bg-0.jpg') no-repeat top center #000;*/
	height: 720px;
    font-family: 'Roboto', sans-serif;
	margin: 0 auto;

	h1 {
		color: #fff;
		margin: 0 20px;
		font-size: 32px;
		line-height: 150px;
		text-align: center;
		width: 100%;
		z-index: 999;
	}
}

.title {
	height: 150px;
	text-align: center;
}

.subtitle {
	background: #212121;
	opacity: 0.9;
	color: #fff;
	height: 48px;
	line-height: 48px;
	width: 100%;


 	p {
 		font-size: 24px;
		margin: 0 20px;
		text-align: center;
	}
}

.main {

	form {
		color: #fff;
		padding-top: 100px;
	}

	button {
		background: #5264AE;
		border: 0;
		color: #fff;
		font-size: 18px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		width: 80vw;
	}

	button:hover {
		cursor: pointer;
	}

	input {
		background: none;

	}
}

.group {
	margin: 5vh 10vw;
	position: relative;
}

.options {
	font-size: 12px;
	margin: 34px 10vw 0 10vw;
	position: relative;
}

.forgotten_password {
	position: absolute;
	right: 0;
}

@media screen and (min-width: 769px) {
	.main {
		width: 720px;
		margin: 0 auto;

		button {
			width: 100%;
		}
	}

}

@media screen and (min-width: 320px) and (max-width: 768px) {
	.component {
		width: 100%;
	}
}