* {
  margin: 0;
  padding: 0;
}

@import "_variables";

body {
  background-color: white;
}

.header {
  background-color: $modric;
  height: 200px;
  text-align: center;
}

.bande {
  background-color: $ronaldo;
  height: 50px;

  h1 {
    color : $modric;
    font-size: 20px;
    font-family: 'Hammersmith One', sans-serif;
    padding-top: 15px;
    text-align: center;
  }
}


.info {
  text-align: center;
}

input {
 width: 400px;
 display: flex;
 flex-direction: column;
 width: 100%;
}

.formulaire {
  max-width: 70%;
  text-align: center;
  margin: auto;
}

#infos {
  font-size: 20px;
  margin-top: 50px;
  border: 0;
  border-bottom: solid $modric;
}

#bouton {
  color: rgb(126, 0, 110);
  background-color: $ronaldo;
  text-align: center;
  font-size: 20px;
  width: 150px;
  margin: auto;
}

img {
  height: 100px;
  width : 100px;
  padding-top: 40px;
}

p {
  font-size: 13px;
  color: $modric;
  font-family: 'Hammersmith One', sans-serif;
  margin-top: 30px;
  text-align: center;
}

@media screen and (min-width: 1024px) {

.header {
  background-color: $ronaldo;
}

h1 {
  color: $ronaldo;
  }

body {
    background-color: $ramos;
  }
}



@media screen and (min-width: 520px) {
  .formulaire {
    width: 30%;
  }
}

@media screen and (min-width: 1024px) {
  .formulaire {
    width: 30%;
  }
}
