::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
:-moz-placeholder { /* Firefox 18- */
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  margin: 0 auto;
  color: white;
  font-size: 6px;
  font-family: 'Roboto', sans-serif;
}

.bgImage {
  height: 100vh;
  background-image: url("./assets/city2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  height: 100%;
}

nav {
  width: 100%;
  height: 10%;
  background-color: black;
  visibility: visible;
}

.responsiv-menu {
  height: 100%;
  text-align: left;
  width: 170px;
  padding-left: 30px;
}

.responsiv-menu-content {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.responsiv-menu-content img {
  width: 40px;
  cursor: pointer;
}

.nav-title {
  font-size: 3em;
  font-weight: bold;
}

header {
  height: 20%;
  text-align: center;
  font-size: 3em;
}

section {
  height: 55%;
  text-align: center;
}

form {
  padding: 30px;
  height: 70%;
}


.field {
  position: relative;
  height: 30%;
  padding: 16px 0 8px 0;
  color: white;
}

.field-input {
  position: relative;
  display: block;
  width: 100%;
  line-height: 16px;
  padding: 8px 0;
  border: none;
  outline: none;
  -webkit-appearance: none;
  background-color: black;
  opacity: 0.7;
  font-size: 2em;
  font-weight: bold;
  color: white;
}

.field-input:required {
  box-shadow: none;
}

.field::after {
  content:'';
  height: 2px;
  width: 100%;
  position:absolute;
  bottom:6;
  left:0;
  background-color: #e7e7e7;
}

.field-input:required::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #CE2453;
}

.field-input:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:blue;
}


.button-connect {
  width: 100%;
  height: 10%;
  border: none;
  background-color: #7045B9;
  color: white;
  font-size: 2em;
  font-weight: bold;
  border-radius: 5px;
  opacity: 0.8;
}

.button-connect:hover {
  cursor: pointer;
}

.links {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 2em;
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 10px;
  }
}

@media only screen and (min-width: 1024px) {
  .bgImage {
    background-image: url("./assets/city_paysage2.jpg");
  }
  .content {
    width: 60%;
    margin: 0 auto;
  }
  nav {
    visibility: hidden;
  }
}
