@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto");
.menu {
  height: 40vh;
  width: 100%;
  background-color: blue;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end; }

.app-name {
  color: white;
  padding-right: 5vw;
  padding-bottom: 4vh;
  font-size: 3em; }

.sub-menu {
  height: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
  text-align: center;
  font-size: 1.5em; }

.main-1 {
  display: flex;
  justify-content: center;
  padding-top: 3em; }

.main-2 {
  display: flex;
  justify-content: center;
  padding-top: 2em; }

input {
  border-top: none;
  border-right: none;
  border-left: none; }

.app-name {
  font-size: 2em; }

.sub-menu {
  font-size: 1.5em; }

input {
  width: 75%;
  height: 1.3em;
  font-size: 1.3em; }

button {
  width: 75%;
  height: 1.7em;
  font-size: 1.3em; }

.mdp-oublié {
  font-size: 1.3em;
  width: 87%; }

.btn {
  display: flex;
  justify-content: center;
  padding-top: 2em; }

button {
  background: blue;
  color: white;
  border: none; }

.mdp-oublié {
  display: flex;
  justify-content: flex-end;
  color: blue;
  padding-top: 2em; }

@media (min-width: 480px) {
  .app-name {
    font-size: 2em; }
  .sub-menu {
    font-size: 1.5em; }
  input {
    width: 75%;
    height: 1.5em;
    font-size: 1.5em; }
  button {
    width: 75%;
    height: 1.5em;
    font-size: 1.5em; }
  .mdp-oublié {
    font-size: 1.3em;
    width: 87%; } }

@media (min-width: 768px) {
  .app-name {
    font-size: 3em; }
  .sub-menu {
    font-size: 2em; }
  input {
    width: 75%;
    height: 1.5em;
    font-size: 1.5em; }
  button {
    width: 75%;
    height: 1.5em;
    font-size: 1.5em; }
  .mdp-oublié {
    font-size: 1.3em;
    width: 87%; } }

@media (min-width: 992px) {
  sub-menu {
    height: 2em;
    font-size: 2em; }
  input {
    width: 75%;
    height: 2em;
    font-size: 2em; }
  button {
    width: 75%;
    height: 2em;
    font-size: 2em; }
  .mdp-oublié {
    font-size: 1.3em;
    width: 87%; } }

@media (min-width: 1200px) {
  input {
    width: 40%;
    height: 1.5em;
    font-size: 1.5em; }
  button {
    width: 40%;
    height: 1.5em;
    font-size: 1.5em; }
  .mdp-oublié {
    font-size: 1.3em;
    width: 70%; } }

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }
