*, body {
    margin: 0;
    padding: 0;
    background-color: #808080;
    font-family: 'Quicksand', sans-serif;    
}

a, a:hover {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #ff757c;
}


.container_page {
    display: flex;
    background-color: #808080;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.logo {
    margin-top: 10%;
}

h1 {
    text-shadow: 4px 4px rgba(0, 0, 0, 0.1);
    font-size: 6em;
    color: white; 
    text-align: center;
}

h2 {
    font-weight: 100;
    color: white;
    margin-top: -20px;
    letter-spacing: -2px;
}


p {
    color: white;
    text-align: center;
    font-size: 12px;
    width: 195px;
    font-weight: 100;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 123px;
}

input {
    width: 293px;
    height: 40px;
    background-color: white;
    border: none;
    padding-left: 4%;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.1);
    background-image: url(envelope.png);
    background-repeat: no-repeat;
    background-size: 22px;
    padding-left: 43px;
    background-position: 11px;
}

button {
    width: 337px;
    height: 40px;
    background-color: #ff757c;
    border: none;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.1);
    color: white;
    text-transform: uppercase;
    font-size: 1.1em;
    text-shadow: 0px 4px rgba(0, 0, 0, 0.1);
    
}

h4 {
    font-weight: 100;
    color: white;
    text-align: center;
}

@media screen and (min-width: 640px) {
    h1 {
        font-size: 7em;
   }
}