
body {height: 100%;}
body {
    font-family: /* 'Istok Web' ,*/ "Helvetica", sans-serif;
    font-size: 12px;
  
    background-image:url(fond-ecran-ipad.jpg);
  
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    height: 10%;
    background-color:#F3EF09;
}

#baniere{
    background-image:url(fonds-ecran-hd_15.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color:rgba(28, 236, 9, 0.34);
    height:30%;
    width: 100%;
}
#baniere2{

    height: 2%;
    width: 100%;
   
}

#login { /* box formulaire */
    background-color:rgba(29, 28, 28, 0.89);
	background-size:16px 16px;
    /* height:490px; */
    height: 100vh;
    width: 100%;
   

    position: absolute;
   

  
    border-radius: 10px;
   
}

h1 {
    text-transform:  capitalize;
    text-align: right;
    margin: 0 0 30px 0;
    letter-spacing: 4px;
    font-size:35px;
    letter-spacing: -0.06em;
}

fieldset {
    position: relative;
    border: 0;
    padding: 0;
    margin: 0;
    text-align: center;

}
fieldset#actions{
	display: block;
    height: 92px;
    overflow: hidden;
    position: relative;
}
fieldset#inputs{ /* contour des inputs */
	padding: 10px;
    margin-left: 40%;
    width: 320px;
   
   
    
}

fieldset#inputs:before{ /* couture autour des inputs */
	
	height: 145px;
	position: absolute;
	

}
#inputs input { /* pictos des inputs */
    background: #f1f1f1 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAABkCAYAAACPQLC2AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAhtJREFUeNrsV1FuwjAMbRECBAIqxD+7ARyhOwE9QvfDd28wbrB+8wNHaG9QblBuAP9IzeADAYLOntwqZQlk6z6mKZEMkRO/2o7T+plpmhplRsUoOTSABtAA/wagij+z2ayg7Pf7XfgLQGxSRSDOdrt95/dNJhOxB9frNQCxQQwSnAdSD24HvOZsgdpWzgG+J0ViWdZAFSASAESMsY0qgIMGWQ4I0FHOwW63w2w/t9vtwX6/3yjVQbPZ7IK8tVqtFCSBeW6Mc9ThGu6RheCDeBSvBfMptzZFHX2EPACZFwAajcYYYnW5c0dxQT9EkayN8xwAsisJMb4TPtqEGYDzg2vg5B6gW6UuU5kvdOVO5T2SiAfAyluAMAVDRns/c2DqBkMDaAANoAE0gAbQAH+PsdyyFQFz8amls0jNSOcjg6nKjHu93gDav5gzzEbWBjuwx5aGQI2UxTdYMBZoCPMYZATiCT0AZjIU0Z4kSV5o3SBS5slIly1q8TqdzpDWnayrl5EuS9L+xUBCGL8uA4junByfVCYDcBXLIPiSA2QjCEAxxg9a3mnBA2Ahc2QjHN21JU9em6bpHA6HTQ5Qr9fnnOuZ8ZrOHgtqlCXyeDyGBb5Qq9VExp+s5HQ6rWgeCu8CjFeB2wxc9M/n8+rhZeIqLn8yxgfGS6XbSAWx5t2+XC5L5fcBHckTHYsH4YTfeR9oxqIBNIAG+DWADwEGAAgZ5RSSVu1LAAAAAElFTkSuQmCC) no-repeat;
    padding: 15px 15px 15px 30px;
    margin: 0 0 10px 5px;
    width: 85%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 1px 1px #525252 inset, 0 1px 0 #6A6A6A;
}
#username {
    background-position: 5px -2px !important;
}
#password {
    background-position: 5px -52px !important;
}
#inputs input:focus {
    background-color: #fff;
    border-color: #e8c291;
    outline: none;
    box-shadow: 0 0 0 1px #e8c291 inset;
}
/*--------------------*/
#actions {
    margin: 25px 0 0 0;
}
#submit {/* bouton de connection */
    background-color: #ffb94b;
    background-image: linear-gradient(top, #C94700, #B84100);
    border-radius: 2px;
    text-shadow: 0 1px 0 rgba(0, 0, 0,0.7);
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 17px 2px rgba(255, 255, 255, 0.2) inset, 0 5px 5px rgba(255, 255, 255, 0.2) inset;
    display: block;
    border: none;
	position: relative;
    float: none;
    height: 35px;
    padding: 0;
    margin: 0 auto 20px;
    width: 120px;
    cursor: pointer;
    font-size:18px ;
    color: #FFF;
    text-transform:  capitalize;
}
#submit:hover,#submit:focus {
    background-color: #C94700;
    background-image: linear-gradient(top, #B84100, #C94700);
}
#submit:active {
    outline: none;
     box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}
#submit::-moz-focus-inner {border: none;}




@media all and (max-width:768px)
{
    #login { /* box formulaire */
        
    }
    h1 {

     background-color: #C8BCB6;

    }
    #baniere{
        background-image:url(th.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-color:rgba(28, 236, 9, 0.34);
        height:30%;
        width: 100%;
    }
    fieldset#actions{

        display: block;
        height: 92px;
        overflow: hidden;
        position: relative;

    }

    fieldset#inputs{ /* contour des inputs */

        padding: 10px;
        margin-left: 10%;
        width: 74%;  

    }
    body {

        font-family: /* 'Istok Web' ,*/ "Helvetica", sans-serif;
        font-size: 12px;
        background-image:url(wallpaper.png);
      background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;

    }
}