body {
  background-color: #FFF;
  background-image: url("img/bcgrnd-dskt.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

p {
	font-family: impact;
	font-size: 120px;
	color: #FFFFFF;
	text-shadow: #CCC 15px 15px 5px; 
}


/* Mobile PORTRAIT */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    body {
      background-image: url("img/bcgrnd-ip7.jpg");
      background-size: cover;
      background-repeat: no-repeat;
    }
  } 

 /* Mobile LANDSCAPE */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape){
    body {
      background-image: url("img/bcgrnd-ip7-H2.jpg");
      background-size: cover;
      background-repeat: no-repeat;
    }
  } 