@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) { 
    .login-btn{
        width: 14em;
    }
    .elements-Handler{
        width: 22em;
        margin-top: 9em;
    }
    .App{
        font-size: 14px;
    }
    h3{
        top: -7em;
    }
}



@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px) {
    .login-btn{
        width: 14em;
    }
    .elements-Handler{
        width: 25em;
        margin-top: 9em;
    }
    .App{
        font-size: 16px;
    }
    h3{
        top: -7em;
    }
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
    .login-btn{
        width: 14em;
    }
    .elements-Handler{
        width: 17em;
        margin-top: 9em;
    }
    .App{
        font-size: 16px;
    }
    h3{
        top: -7em;
    }
    }


@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) {
    .login-btn{
        width: 14em;
    }
    .elements-Handler{
        width: 50%;
        margin-top: 5em;
    }
    .App{
        font-size: 24px;
    }
    h3{
        top: -7em;
    }
}

@media only screen 
and (min-device-width: 665px) 
and (max-device-width: 808px) {
    .login-btn{
        width: 14em;
    }
    .elements-Handler{
        width: 50%;
        margin-top: 5em;
    }
    .App{
        font-size: 24px;
    }
    h3{
        top: -7em;
    }
}

@media only screen 
and (min-device-width: 50px) 
and (max-device-width: 379px) {
    .login-btn{
        width: 14em;
    }
    .elements-Handler{
        width: 80%;
        margin-top: 5em;
    }
    .App{
        font-size: 24px;
    }
    h3{
        top: -7em;
    }
}
