// == COLORS =======================

$PRIMARY_COLOR : #009688;
$SECONDARY_COLOR : #FAFAFA;
$TEXT_FILL_LIGHT : #FFF;
$TEXT_FILL : #212121;
$twitter: #0093F3;
$facebook: #434C98;
$pinterest: #CD0026;
$orange: orange;

// == MEDIA QUERIES ================
$BREAK-TABLET: 600px;
$BREAK-DESKTOP: 1024px;