* {
  padding: 0;
  margin: 0; }

h1, h2, p {
  font-family: 'Quantico', sans-serif; }

header section:nth-child(1) {
  background-color: #000000; }
  header section:nth-child(1) h1 {
    color: #ffffff;
    text-align: right;
    padding-right: 10px; }

header section:nth-child(2) {
  background-color: #219653; }
  header section:nth-child(2) h2 {
    color: #ffffff;
    padding-left: 20px;
    line-height: 40px; }

main {
  background-color: #ffffff; }
  main form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 50px;
    margin-right: 10px;
    margin-left: 10px; }
    main form input {
      border-radius: inherit;
      border: inherit;
      border-bottom: 2px solid #80cbc4;
      color: #219653;
      margin: 15px; }
    main form p {
      margin-left: 18px;
      font-size: 12px;
      margin-bottom: 8px; }
    main form .submit {
      -ms-flex-item-align: end;
          align-self: flex-end;
      width: 70px;
      text-align: center;
      background-color: #219653;
      color: #ffffff;
      height: 30px;
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      border-radius: 5px;
      -webkit-box-shadow: 3px 3px 3px lightgrey;
              box-shadow: 3px 3px 3px lightgrey; }

#sendMail {
  border: 1px solid black;
  background-color: #219653;
  -webkit-box-shadow: 3px 10px 3px lightgrey;
          box-shadow: 3px 10px 3px lightgrey;
  margin-top: 100px; }
  #sendMail p {
    padding-top: 50px;
    color: #ffffff;
    text-align: center; }
  #sendMail p:nth-child(2) {
    text-align: right;
    padding-right: 8px; }
    #sendMail p:nth-child(2) a {
      text-decoration: none;
      color: black; }

footer {
  background-color: #000000; }
